Node-RED/Team8-NodeRED.json
[{"id":"c089f207.0d776","type":"ibmiot in","z":"fcff7317.f0fe5","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"YourDeviceId","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Sensor","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":150,"y":112,"wires":[["4f5aaeee.a3459"]]},{"id":"4f5aaeee.a3459","type":"function","z":"fcff7317.f0fe5","name":"Check light value","func":"var light = msg.payload.d.light;\nmsg.payload = light;\nif (light <= 100) {\n    return [null, msg]; \n} else {\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":370,"y":112,"wires":[["4491cb9d.7ffc84"],["e7e3a9c0.940958","80495cc0.da57d"]]},{"id":"4491cb9d.7ffc84","type":"debug","z":"fcff7317.f0fe5","name":"else","active":true,"console":"false","complete":"payload","x":570,"y":72,"wires":[]},{"id":"d932fa47.6510f8","type":"function","z":"fcff7317.f0fe5","name":"Create document data","func":"var getIncidentNum = function ( date ) {\n    var yyyy = date.getFullYear();\n    var mm = ('0' + (date.getMonth() + 1)).slice(-2);\n    var dd = ('0' + date.getDate()).slice(-2);\n    var h = ('0' + date.getHours()).slice(-2);\n    var m = ('0' + date.getMinutes()).slice(-2);\n    var s = ('0' + date.getSeconds()).slice(-2);\n    var num = yyyy + mm + dd + h + m + s;\n    return num;\n};\n\nvar date = new Date();\nmsg.payload = {\n    \"IncidentNum\":getIncidentNum(date),\n    \"Date\":date.toString(),\n    \"SensorNum\":String(msg.deviceId),\n    \"Trouble\":String(msg.payload) + \" Lux\",\n    \"Status\":\"Open\",\n    \"Title\":\"Light off\"\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":200,"y":372,"wires":[["33f514fb.086fdc","b8998c0c.c1836"]]},{"id":"b8998c0c.c1836","type":"document collection","z":"fcff7317.f0fe5","name":"","method":"POST","host":"","database":"","compact":"use","search":"","searchmaxdocs":"","since":"","computewithform":"use","form":"fmTroubleTicket","parentid":"","x":460,"y":372,"wires":[["694c84c4.1a5bcc"]]},{"id":"694c84c4.1a5bcc","type":"debug","z":"fcff7317.f0fe5","name":"","active":true,"console":"false","complete":"false","x":690,"y":372,"wires":[]},{"id":"33f514fb.086fdc","type":"debug","z":"fcff7317.f0fe5","name":"","active":true,"console":"false","complete":"false","x":430,"y":432,"wires":[]},{"id":"6b826946.9ca078","type":"view entries","z":"fcff7317.f0fe5","name":"","method":"GET","host":"","database":"","viewtype":"name","viewname":"vwByID","viewunid":"","search":"","searchmaxdocs":"","start":"","count":"","si":"","ps":"","page":"","sortcolumn":"","sortorder":"use","startkeys":"","keys":"","keysexactmatch":"use","expandlevel":"","category":"","systemcolumns":"","compact":"use","entrycount":"use","computewithform":"use","form":"","parentid":"","getparam1":"collapse","getparam2":"expand","getparam3":"collapse","x":190,"y":272,"wires":[["e9649d26.b6285"]]},{"id":"e9649d26.b6285","type":"function","z":"fcff7317.f0fe5","name":"Count of Trouble Ticket","func":"var dataArray = msg.payload;\nif (dataArray.length === 0) {\n    return [null, msg];\n} else {\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":430,"y":272,"wires":[["e46aa8e8.b06188"],["d932fa47.6510f8","57fd3978.853158"]]},{"id":"57fd3978.853158","type":"debug","z":"fcff7317.f0fe5","name":"0","active":true,"console":"false","complete":"payload","x":690,"y":312,"wires":[]},{"id":"e46aa8e8.b06188","type":"debug","z":"fcff7317.f0fe5","name":"greater than or equal to one","active":true,"console":"false","complete":"payload","x":760,"y":232,"wires":[]},{"id":"e7e3a9c0.940958","type":"function","z":"fcff7317.f0fe5","name":"Setting","func":"msg.host = \"http://[your_application_name].bluemix.net\";\nmsg.database = \"[Path name of a database on the domino server. for example, bluemix/your_email/dev/tododata.nsf]\";\nmsg.keys = msg.deviceId;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":172,"wires":[["6b826946.9ca078"]]},{"id":"8054401.39b51c","type":"comment","z":"fcff7317.f0fe5","name":"Post Sensor Data to Domino","info":"","x":160,"y":52,"wires":[]},{"id":"80495cc0.da57d","type":"debug","z":"fcff7317.f0fe5","name":"less than or equal to one hundred","active":true,"console":"false","complete":"payload","x":660,"y":132,"wires":[]}]
