Node-RED/Team8-NodeRED.json
[{"id":"74f8b2e3.7e81bc","type":"ibmiot in","z":"496b72dc.c723ac","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"a0e6f8c20b86","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Sensor","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":130,"y":100,"wires":[["b658ac9f.e9c41"]]},{"id":"b658ac9f.e9c41","type":"function","z":"496b72dc.c723ac","name":"Check light value","func":"var light = msg.payload.d.light;\nmsg.payload = light;\nif (light <= 100) {\n    return [null, msg]; \n} else {\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":350,"y":100,"wires":[["17267503.69df0b"],["4a009a67.eb9734","9e44e42f.459768"]]},{"id":"17267503.69df0b","type":"debug","z":"496b72dc.c723ac","name":"else","active":true,"console":"false","complete":"payload","x":550,"y":60,"wires":[]},{"id":"2ba90ccc.f332d4","type":"function","z":"496b72dc.c723ac","name":"Create document data","func":"var date = new Date();\nmsg.payload = {\n    \"Date\":date.toString(),\n    \"SensorNum\":String(msg.deviceId),\n    \"Trouble\":String(msg.payload) + \" Lux\",\n    \"Status\":\"Open\",\n    \"Title\":\"Light off\"\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":360,"wires":[["3786de3.d4aea22","80454eec.0e896"]]},{"id":"80454eec.0e896","type":"document collection","z":"496b72dc.c723ac","name":"","method":"POST","host":"","database":"","compact":"use","search":"","searchmaxdocs":"","since":"","computewithform":"use","form":"fmTroubleTicket","parentid":"","x":440,"y":360,"wires":[["e1b63ae5.d385e8"]]},{"id":"e1b63ae5.d385e8","type":"debug","z":"496b72dc.c723ac","name":"","active":true,"console":"false","complete":"false","x":670,"y":360,"wires":[]},{"id":"3786de3.d4aea22","type":"debug","z":"496b72dc.c723ac","name":"","active":true,"console":"false","complete":"false","x":410,"y":420,"wires":[]},{"id":"a194da11.36aa38","type":"view entries","z":"496b72dc.c723ac","name":"","method":"GET","host":"","database":"","viewtype":"name","viewname":"vwByID","viewunid":"","search":"","searchmaxdocs":"","start":"","count":"","si":"","ps":"","page":"","sortcolumn":"","sortorder":"use","startkeys":"","keys":"","keysexactmatch":"use","expandlevel":"","category":"","systemcolumns":"","compact":"use","entrycount":"use","computewithform":"use","form":"","parentid":"","getparam1":"collapse","getparam2":"expand","getparam3":"collapse","x":150,"y":220,"wires":[["e43a8b9f.dd4048"]]},{"id":"e43a8b9f.dd4048","type":"function","z":"496b72dc.c723ac","name":"Check count of Trouble Ticket ","func":"var dataArray = msg.payload;\nif (dataArray.length === 0) {\n    return [null, msg];\n} else {\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":410,"y":220,"wires":[["ed3a2b1f.027138"],["2ba90ccc.f332d4","29ae8b67.6f1d44"]]},{"id":"29ae8b67.6f1d44","type":"debug","z":"496b72dc.c723ac","name":"0","active":true,"console":"false","complete":"payload","x":650,"y":260,"wires":[]},{"id":"ed3a2b1f.027138","type":"debug","z":"496b72dc.c723ac","name":"greater than or equal to one","active":true,"console":"false","complete":"payload","x":720,"y":180,"wires":[]},{"id":"4a009a67.eb9734","type":"function","z":"496b72dc.c723ac","name":"Setting","func":"msg.host = \"http://xpages-domino.ng.bluemix.net\";\nmsg.database = \"bluemix/acchan_jp_ibm_com/dev/tododata_5.nsf\";\nmsg.keys = msg.deviceId;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["a194da11.36aa38"]]},{"id":"dc2c03fd.4098e","type":"comment","z":"496b72dc.c723ac","name":"Post Sensor Data to Domino","info":"","x":140,"y":40,"wires":[]},{"id":"9e44e42f.459768","type":"debug","z":"496b72dc.c723ac","name":"less than or equal to one hundred","active":true,"console":"false","complete":"payload","x":640,"y":100,"wires":[]}]